.fragalyzer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;

  &.home, &.parsing {
    align-items: center;
    justify-content: center;
  }

  canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .right-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: lightgrey;
    overflow-y: auto;

    .player-color {
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  }

}


