.fragalyzer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.ready {

    display: flex;
    flex-direction: column;

    .main {

      display: flex;
      flex-grow: 1;
      flex-direction: row;


      .map-view {
        flex-grow: 1;
        position: relative;

        .map-image, canvas {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }

      }

      .right-panel {
        background-color: lightgrey;
        overflow-y: auto;

        .player-color {
          width: 24px;
          height: 24px;
          display: inline-block;
        }

        .team {
          .score {
            color: red;
          }
        }
      }

    }

    .timeline {
      background-color: lightgray;
      display: flex;
      flex-direction: row;

      .round {
        flex-grow: 1;
        border: 1px solid black;

        &:hover {
          cursor: pointer;
        }

        &.selected {
          background-color: lightskyblue;
        }
      }
    }
  }

  &.home {
    display: flex;
    flex-direction: column;
    padding: 16px;

    .drop-zone {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px dashed grey;
      background-color: lightgrey;

      &.drop-over {
        border: 4px dashed blue;
        background-color: lightblue;
      }
    }
  }

  &.parsing {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


